body 
{
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  background: #FFE03C;
}

h1 {
    text-align: center;
    font-family: 'Anton', sans-serif;
}


  .wrapper{
        display:grid;
        
        grid-row-gap: 1em;
        grid-auto-rows: 300px;
}
        
   .wrapper > div{
        background:#FFB33C;
        padding:1em;
        margin-left: auto;
       margin-right: auto;
     }
        
    .wrapper > div:nth-child(odd){
        background: #FFE03C;
        margin-left: auto;
        margin-right: auto;
}





.wrapper2 {
        padding-bottom: 10px; 
        width: 125%;
        margin-left: auto;
        margin-right: auto;
}
   

        
       }

.image1{
    max-height: 300px;
   text-align: center;
    left:80px;
    
}


p {
  
  margin-left:auto;
  margin-right:auto;
  font-size: 19px;
  width: 300px;
  font-family: 'Anton', sans-serif;
}  

a{
  
  text-decoration: inherit;
  display: inline-block;
  background: #ff7200;
  border-radius: 4px;
  color: #FFF;
  padding: 8px 12px;
  cursor:pointer;     
      
}
 
a:hover{
    text-decoration: inherit;
  display: inline-block;
  background: #c63e00;
  border-radius: 4px;
  font-size: 15px;
  color: #FFF;
  padding: 8px 12px;
  cursor:pointer; 
}



















